{% extends "pages/base.html" %}

{% block title %}
    Danh sách tài khoản
{% endblock %}

{% block content %}
<div class="content">
    <nav class="mb-2" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item">Danh sách tài khoản</li>
        </ol>
    </nav>
    <h3 class="text-bold text-body-emphasis mb-5">Danh sách tài khoản</h3>
    <div>
        <div class="mb-3 thongke">

        </div>
        <!-- Search -->
        <div id="searchModel">
            <form class="d-flex align-items-center gap-2 flex-wrap mb-2" id="filter-form" style="margin-top: -27px;">
                <div>
                    <input type="text" name="code" class="form-control" placeholder="Tìm kiếm mã tài khoản">
                </div>
                <div>
                    <input type="text" name="name" class="form-control" placeholder="Tìm kiếm tên tài khoản">
                </div>
                <div>
                    <select name="type" class="form-select value empty">
                        <option value="">Loại tài khoản</option>
                        <option value="1">Lấy dữ liệu</option>
                        <option value="2">Đăng bài</option>
                    </select>
                </div>
                <div class="d-flex justify-content-start w-100 w-md-auto" style="height: 36px;margin-left: 20px;">
                    <button type="submit" class="btn btn-sm btn-phoenix-info btn-filter me-1" title="Lọc">
                        <span class="fas fa-filter text-info fs-9 me-1"></span>Lọc
                    </button>
                    <button class="btn btn-sm btn-phoenix-warning" style="margin-left: 8px;" onclick="removeFilter(this)" type="button">Xoá lọc</button>
                </div>
            </form>
            <div class="d-flex justify-content-end align-items-center">
                <button class="btn btn-primary" type="button" onclick="addAccount()">
                    <span class="fas fa-plus"></span> Thêm tài khoản
                </button>
            </div>
        </div>
        <!-- Table -->
        <div class="mx-n4 mx-lg-n6 px-4 px-lg-6 mb-9 bg-body-emphasis border-y mt-2 position-relative top-1"
            id="list_users_container">
            <div class="table-responsive quote-table-container scrollbar ms-n1 ps-1">
                <table class="table table-hover table-sm fs-9 mb-0">
                    <thead>
                        <tr>
                            <th class="align-middle text-center text-uppercase">stt</th>
                            <th class="align-middle text-center text-uppercase">Mã tài khoản</th>
                            <th class="align-middle text-center text-uppercase">Tên tài khoản</th>
                            <th class="align-middle text-center text-uppercase">Loại tài khoản</th>
                            <th class="align-middle text-start text-uppercase">Link facebook</th>
                            {% comment %} <th class="align-middle text-start text-uppercase" style="width: 30%;">Cookies</th> {% endcomment %}
                            <th class="align-middle text-center text-uppercase">Thao tác</th>
                        </tr>
                    </thead>

                    <tbody class="list-data" id="data_table_body">
                        <tr class="loading-data">
                            <td class="text-center" colspan="5">
                                <div class="spinner-border text-info spinner-border-sm" role="status"><span
                                        class="visually-hidden">Loading...</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="paginations"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="editModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-dialog">
            <div class="modal-content form-open">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sửa tài khoản</h5>
                    <button class="btn p-1 closeButton" type="button" data-bs-dismiss="modal" aria-label="Close">
                        <svg class="svg-inline--fa fa-xmark fs-9" aria-hidden="true" focusable="false" data-prefix="fas"
                            data-icon="xmark" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                            data-fa-i2svg="">
                            <path fill="currentColor"
                                d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z">
                            </path>
                        </svg>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="row g-3" method="put" id="edit-form">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-floating">
                                <input type="text" name="code" class="form-control empty value"
                                    placeholder="Mã tài khoản" id="edit-code">
                                <label>Mã tài khoản</label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <div class="form-floating">
                                <input type="text" name="name" class="form-control empty value"
                                    placeholder="Tên tài khoản" id="edit-name">
                                <label>Tên tài khoản</label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <div class="form-floating">
                                <select name="type" class="form-select value empty choice validate" id="edit-type">
                                    <option value="">Chọn loại tài khoản</option>
                                    <option value="1">Lấy dữ liệu</option>
                                    <option value="2">Đăng bài</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <div class="form-floating">
                                <input type="text" name="link" 
                                    class="form-control validate empty value" placeholder="Link facebook" id="edit-link">
                                <label>Link facebook</label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <div class="form-floating" >
                                <textarea name="cookie" style="height: 100px;"
                                    class="form-control validate empty value" placeholder="Cookie" id="edit-cookie"></textarea>
                                <label>Cookie</label>
                            </div>
                        </div>
                        <div class="col-12 gy-6">
                            <div class="row g-3 justify-content-center">
                                <div class="col-auto">
                                    <button type="button" class="btn btn-close-model btn-secondary mx-1"
                                        data-bs-dismiss="modal">Huỷ
                                    </button>
                                    <button type="submit" class="btn btn-primary btn-submit mx-1" title="Lưu">Lưu</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script>
        
        const route = '/api/users/api_list_accounts';
        var request = new RequestServer(route);
        document.addEventListener('DOMContentLoaded', function() {
            console.log('DOM fully loaded and parsed');
            fetchAccounts();
            document.getElementById('filter-form').addEventListener('submit', function(e) {
                e.preventDefault();
                fetchAccounts();
            });
        });

        async function fetchAccounts() {
            try {
                console.log('Fetching accounts...');
                const formData = new FormData(document.getElementById('filter-form'));
                const params = new URLSearchParams(formData).toString();
                const response = await fetch(`/api/users/api_list_accounts?${params}`);
                const data = await response.json();
                console.log('Data received:', data);
                const tableBody = document.getElementById('data_table_body');
                tableBody.innerHTML = ''; // Xóa dữ liệu cũ

                if (data && data.data) {
                    data.data.forEach((account, index) => {
                        console.log('Account type:', account.type);
                        const row = document.createElement('tr');
                        row.innerHTML = `
                            <td class='align-middle text-center'>${index + 1}</td>
                            <td class='align-middle text-center'>${account.code || 'N/A'}</td>
                            <td class='align-middle text-center'>${account.name || 'N/A'}</td>
                            <td class='align-middle text-center'>${account.type == 1 ? 'Lấy dữ liệu' : 'Đăng bài'}</td>
                            <td class='align-middle text-start'><a href='${account.link || '#'}'>${account.link || 'N/A'}</a></td>
                            <td class='align-middle text-center'>
                                <div class='position-relative'>
                                    <button onclick='showOne(${account.id})' class='btn btn-edit-show btn-sm btn-phoenix-secondary text-info me-1 fs-10' title='Cập nhật' type='button' data-bs-toggle='modal' data-bs-target='#editModel'>
                                        <span class='fas far fa-edit'></span>
                                    </button>
                                </div>
                            </td>
                        `;
                        tableBody.appendChild(row);
                    });
                } else {
                    console.error('Dữ liệu không hợp lệ');
                }
            } catch (error) {
                console.error('Lỗi lấy dữ liệu:', error);
            }
        }

        var editModel = new HandleForm('#editModel');
        editModel.submit = async function(e) {
            e.preventDefault();
            let check = this.checkValidate();
            if (check) {
                this.loading(true);
                let value = this.value().get();
                value.id = this.id;

                // Check if the form values have changed
                let hasChanged = false;
                const originalData = await axios.get(`/api/users/${value.id}/`);
                if (originalData.status === 200) {
                    const originalValue = originalData.data;
                    hasChanged = value.code !== originalValue.code ||
                                    value.name !== originalValue.name ||
                                    value.type !== originalValue.type ||
                                    value.link !== originalValue.link ||
                                    value.cookie !== originalValue.cookie;
                }
                if (hasChanged) {
                    try {
                        let res = await axios.put(`/api/users/${value.id}/update_account/`, value);
                        if (res.status == 200) {
                            editModel.reset();
                            editModel.hideModal();
                            showMessageMD(res.data.message);    
                            fetchAccounts(); // Refresh the account list
                        }
                    } catch (error) {
                        let res = error.response;
                        if (res.status == 422) {
                            this.logError(res.data);
                        } else {
                            showErrorMD('Có lỗi xảy ra, vui lòng thử lại sau!');
                            editModel.hideModal();
                            editModel.reset();
                        }
                    }
                } else {
                    showMessageMD('No changes detected.');
                }
                this.loading(false);
            }
        }
        async function showOne(id) {
            try {
                let response = await axios.get(`/api/users/${id}/`);
                if (response.status === 200) {
                    const data = response.data;
                    // Kiểm tra dữ liệu trả về
                    console.log('Data fetched for user:', data);
                    editModel.showValue(data);
                    editModel.id = data.id; // Lưu ID người dùng để cập nhật
                } else {
                    console.error('Failed to fetch data for user:', response.status);
                }
            } catch (error) {
                console.error('Dữ liệu không tồn tại', error);
                showErrorMD('Có lỗi xảy ra, vui lòng thử lại sau!');
            }
        }
        document.addEventListener('DOMContentLoaded', async function() {
            await request.get();
            searchModal.showValue(request.params);
        });
        var searchModal = new HandleForm('#searchModel');
        searchModal.submit = async function(e) {
            e.preventDefault();
            this.loading(true);
            let value = this.value().get();
            request.params = value;
            await request.get();
            this.loading(false, `<span class='fas fa-filter text-info fs-9 me-2'></span>Lọc`);
        }
        async function removeFilter(btn) {
            btnLoading(btn, true);
            searchModal.reset();
            request.params = {};
            await fetchAccounts();
            btnLoading(btn, false, 'Xóa lọc');

            // Clear URL parameters
            if (history.pushState) {
                const newUrl = window.location.protocol + "//" + window.location.host + window.location.pathname;
                window.history.pushState({ path: newUrl }, '', newUrl);
            }
        }

        {% comment %} function addAccount() {
            // Open a new virtual browser window
            const virtualBrowser = window.open('', '_blank');
            virtualBrowser.document.write('<html><head><title>Thêm tài khoản Facebook</title></head><body>');
            virtualBrowser.document.write('<h1>Đang chuyển hướng đến giao diện đăng nhập Facebook...</h1>');
            virtualBrowser.document.write('</body></html>');

            // Simulate the process of adding a Facebook account
            setTimeout(() => {
                virtualBrowser.location.href = '/api/users/add_facebook_account/';
            }, 2000); {% endcomment %}
        {% comment %} } {% endcomment %}

    </script>
{% endblock %}