{% extends "pages/base.html" %}

{% block title %}
    Trang Chủ
{% endblock %}

{% block content %}
<div class="content">
    <nav class="mb-2" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        </ol>
    </nav>
    <h3 class="text-bold text-body-emphasis mb-5">Trang chủ</h3>
    <div>
        <div class='d-flex justify-content-end'>
            <button id="crawlButton" class="btn btn-primary">
                {% if process_running %}
                    <span class="spinner-border spinner-border-sm" style="--phoenix-spinner-width: 0.8rem;--phoenix-spinner-height: 0.8rem" role="status" aria-hidden="true"></span>
                    Đang lấy dữ liệu
                {% else %}
                    Lấy dữ liệu
                {% endif %}
            </button>
        </div>
    </div>
    <div class="mx-n4 mx-lg-n6 px-4 px-lg-6 mb-9 bg-body-emphasis border-y mt-2 position-relative top-1" id="home_table_container">
        <div class="table-responsive quote-table-container scrollbar ms-n1 ps-1">
            <table class="table table-hover table-sm fs-9 mb-0">
            <thead>
                <tr>
                    <th class="align-middle text-center text-uppercase">stt</th>
                    <th class="align-middle text-start text-uppercase">Tên</th>
                    <th class="align-middle text-start text-uppercase">Link</th>
                    <th class="align-middle text-start text-uppercase">Cookies</th>
                    <th class="align-middle text-start text-uppercase">Thao tác</th>
                </tr>
            </thead>
            <tbody class="list-data" id="home_data_table_body">
                <tr class="loading-data">
                    <td class="text-center" colspan="15">
                        <div class="spinner-border text-info spinner-border-sm" role="status"><span class="visually-hidden">Loading...</span></div>
                        <div>Đang lấy dữ liệu...</div>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
        <div class="paginations"></div>
    </div>
</div>

{% endblock %}

{% block script %}
    
    <script>
        $(document).ready(function() {
            $('#crawlButton').click(function() {
                var button = $(this);
                button.prop('disabled', true);
                $.ajax({
                    type: 'POST',
                    url: '/api/posts/crawl/',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(response) {
                        if (response.is_running) {
                            button.html('<span class="spinner-border spinner-border-sm" style="--phoenix-spinner-width: 0.8rem;--phoenix-spinner-height: 0.8rem" role="status" aria-hidden="true"></span> Đang lấy dữ liệu');
                        } else {
                            button.html('Lấy dữ liệu');
                        }
                        button.prop('disabled', false);
                    },
                    error: function(xhr) {
                        var errorResponse = JSON.parse(xhr.responseText);
                        button.html('Lấy dữ liệu');
                        button.prop('disabled', false);
                    }
                });
            });
        });
    </script>
{% endblock %}
