{% extends "pages/base.html" %}

{% block title %}
    Danh sách bài viết
{% endblock %}

{% block content %}
<div class="content">
    <nav class="mb-2" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item">Fanpage</li>
        </ol>
    </nav>
    <h3 class="text-bold text-body-emphasis mb-5">Danh sách fanpage</h3>
    <div>
        <!-- Search -->
        <div id="searchModel">
            <form class="d-flex align-items-center gap-3 flex-wrap mb-4" id="filter-form">
                <div>
                    <input type="text" name="name" class="form-control" placeholder="Tìm kiếm page">
                </div>
                <div>
                    <select name="type_page" class="form-select value empty">
                        <option value="">Loại page</option>
                        <option value=1>Lấy dữ liệu</option>
                        <option value=2>Đăng bài</option>
                    </select>
                </div>
                <div class="d-flex justify-content-start">
                    <button type="submit" class="btn btn-phoenix-info btn-filter me-2" title="Lọc">
                        <span class="fas fa-filter text-info fs-9 me-2"></span>Lọc
                    </button>
                    <button button class="btn btn-phoenix-warning" onclick="removeFilter(this)" type="button">Xoá
                        lọc</button>
                </div>
            </form>
        </div>
        <!-- Table -->
        <div class="d-flex justify-content-end mb-4">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModel">
                Thêm Mới
            </button>
        </div>
        <div class="mx-n4 mx-lg-n6 px-4 px-lg-6 mb-9 bg-body-emphasis border-y mt-2 position-relative top-1"
            id="list_users_container">
            <div class="table-responsive quote-table-container scrollbar ms-n1 ps-1">
                <table class="table table-hover table-sm fs-9 mb-0">
                    <thead>
                        <tr>
                            <th class="align-middle text-center text-uppercase">stt</th>
                            <th class="align-middle text-start text-uppercase">Chủ đề</th>
                            <th class="align-middle text-start text-uppercase">đường dẫn</th>
                            <th class="align-middle text-start text-uppercase">loại</th>
                            <th class="align-middle text-start text-uppercase">tài khoản</th>
                            <th class="align-middle text-center text-uppercase">số lượng like</th>
                            <th class="align-middle text-center text-uppercase">số lượng follow</th>
                            <th class="align-middle text-center text-uppercase">thao tác</th>
                        </tr>
                    </thead>

                    <tbody class="list-data" id="data_table_body">
                        <tr class="loading-data">
                            <td class="text-center" colspan="15">
                                <div class="spinner-border text-info spinner-border-sm" role="status"><span
                                        class="visually-hidden">Loading...</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="paginations"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="addModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content form-open">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm Mới Page</h5>
                <button class="btn p-1 closeButton" type="button" data-bs-dismiss="modal" aria-label="Close">
                    <svg class="svg-inline--fa fa-xmark fs-9" aria-hidden="true" focusable="false" data-prefix="fas"
                        data-icon="xmark" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                        data-fa-i2svg="">
                        <path fill="currentColor"
                            d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z">
                        </path>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <form class="row g-3" method="POST" enctype="multipart/form-data">
                    <div class="col-sm-12 col-md-12">
                        <div class="form-floating">
                            <input type="text" name="type" class="form-control" title="Chủ đề" placeholder="Chủ đề">
                            <label>Chủ đề</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="form-floating">
                            <input type="text" name="link" class="form-control" title="Đường dẫn" placeholder="Đường dẫn">
                            <label>Đường dẫn</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-floating">
                            <select name="type_page" title='Loại page' id='typeAdd' class="form-select">
                                <option value="">Chọn loại</option>
                                <option value="1">Lấy dữ liệu</option>
                                <option value="2">Đăng bài</option>
                            </select>
                            <label class='floating-label-cus'>Loại</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-floating">
                            <select name="user_id" title='Tài khoản' class="form-select">
                                <option value="">Chọn tài khoản</option>
                            </select>
                            <label class='floating-label-cus'>Tài khoản</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="form-floating">
                            <input type="number" name="like_counts" class="form-control" title="Số lượng like" placeholder="Số lượng like">
                            <label>Số lượng like</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="form-floating">
                            <input type="number" name="follow_counts" class="form-control" title="Số lượng follow_counts" placeholder="Số lượng follow">
                            <label>Số lượng follow</label>
                        </div>
                    </div>

                    <div class="col-12 gy-6">
                        <div class="row g-3 justify-content-center">
                            <div class="col-auto">
                                <button type="button" class="btn btn-close-model btn-secondary mx-1"
                                    data-bs-dismiss="modal">Huỷ
                                </button>
                                <button type="submit" class="btn btn-primary btn-submit mx-1" title="Thêm mới">Thêm mới</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content form-open">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cập nhật Page</h5>
                <button class="btn p-1 closeButton" type="button" data-bs-dismiss="modal" aria-label="Close">
                    <svg class="svg-inline--fa fa-xmark fs-9" aria-hidden="true" focusable="false" data-prefix="fas"
                        data-icon="xmark" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                        data-fa-i2svg="">
                        <path fill="currentColor"
                            d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z">
                        </path>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <form class="row g-3" method="POST" enctype="multipart/form-data">
                    <div class="col-sm-12 col-md-12">
                        <div class="form-floating">
                            <input type="text" name="type" class="form-control" title="Chủ đề" placeholder="Chủ đề">
                            <label>Chủ đề</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="form-floating">
                            <input type="text" name="link" class="form-control" title="Đường dẫn" placeholder="Đường dẫn">
                            <label>Đường dẫn</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-floating">
                            <select name="type_page" title='Loại page' id='typeEdit' class="form-select">
                                <option value="">Chọn loại</option>
                                <option value="1">Lấy dữ liệu</option>
                                <option value="2">Đăng bài</option>
                            </select>
                            <label class='floating-label-cus'>Loại</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-floating">
                            <select name="user_id" title='Tài khoản' class="form-select">
                                <option value="">Chọn tài khoản</option>
                            </select>
                            <label class='floating-label-cus'>Tài khoản</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="form-floating">
                            <input type="number" name="like_counts" class="form-control" title="Số lượng like" placeholder="Số lượng like">
                            <label>Số lượng like</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="form-floating">
                            <input type="number" name="follow_counts" class="form-control" title="Số lượng follow_counts" placeholder="Số lượng follow">
                            <label>Số lượng follow</label>
                        </div>
                    </div>
                    <div class="col-12 gy-6">
                        <div class="row g-3 justify-content-center">
                            <div class="col-auto">
                                <button type="button" class="btn btn-close-model btn-secondary mx-1"
                                    data-bs-dismiss="modal">Huỷ
                                </button>
                                <button type="submit" class="btn btn-primary btn-submit mx-1" title="Cập nhật">Cập nhật</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script>
        const route = '/api/pages/all';
        var request = new RequestServer(route);
        var searchModal = new HandleForm('#searchModel');
        for ( name in searchModal.validate){
            let type = searchModal.validate[name];
            if(type){
                if (Array.isArray(type) && type.includes('required')) {
                    delete searchModal.validate[name];
                }
            }
        }
        request.colspan = 14;
        request.insert = function(data) {
            let content = data.map((item) => {
                return `
                    <tr class="${request.bold(item.id)}">
                        <td class='align-middle text-center'>${request.index++}</td>
                        <td class='align-middle text-start'>${item.type}</td>
                        <td class='align-middle text-start'>
                            <a href='${item.link}' target='_blank'>${item.link}</a>
                        </td>
                        <td class='align-middle text-start'>
                            ${Status.page(item.type_page)}
                        </td>
                        <td class='align-middle text-start'>
                            ${item.user ? `<a href=''>${item.user?.username}</a>` : 'Chưa có'}
                        </td>
                        <td class='align-middle text-center'>${item.like_counts}</td>
                        <td class='align-middle text-center'>${item.follow_counts}</td>
                        <td class='align-middle text-center'>
                            <div class='position-relative'>
                                <button onclick='showOne(${item.id})' class='btn btn-edit-show btn-sm btn-phoenix-secondary text-info me-1 fs-10' title='Cập nhật' type='button' data-bs-toggle='modal' data-bs-target='#editModel'>
                                    <span class='fas far fa-edit'></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                `;
            })
            .join('');
            return content;
        }
        document.addEventListener('DOMContentLoaded', async function() {
            await request.get();
            searchModal.showValue(request.params);
        });
        searchModal.submit = async function(e) {
            e.preventDefault();
            this.loading(true);
            let value = this.value().get();
            request.params = value;
            await request.get();
            this.loading(false, `<span class='fas fa-filter text-info fs-9 me-2'></span>Lọc`);
        }
        async function removeFilter(btn) {
            btnLoading(btn, true);
            searchModal.reset();
            request.params = {};
            await request.get();
            btnLoading(btn, false, 'Xóa lọc');
        }
        var editModel = new HandleForm('#editModel');
        var addModel = new HandleForm('#addModel');
        addModel.closeReset();
        $('#typeAdd').on('addItem', function() {
            showUserPage(addModel)
        });
        $('#typeEdit').on('addItem', function() {
            showUserPage(editModel)
        });
        async function showUserPage(modal){
            let choice = modal.elements['type_page'];
            if(choice.getValue().value != ''){
                let users = await axios.get(`/api/users/all/?show_all=true&type=${choice.getValue().value}`).then(res => res.data.data)
                let choiceData = [{
                    value: '',
                    label: 'Chọn loại',
                    selected: true
                }] 
                users.forEach(item => {
                    choiceData.push({
                        value: item.id,
                        label: item.name
                    })
                })
                modal.elements['user_id'].setChoices(choiceData,'value','label',true)
            }
        }
        addModel.submit = async function(e){
            e.preventDefault();
            let check = this.checkValidate();
            if(check){
                this.loading(true);
                let value = this.value().get()
                try {
                    let res = await axios.post(`/api/pages/add/`,value);
                    if (res.status == 201) {
                        this.reset();
                        this.hideModal();
                        showMessageMD(res.data?.message);
                        request.id = res.data.data.id;
                        request.get();
                    } 
                } catch (error) {
                    let res = error.response;
                    if (res.status == 422) {
                        console.log(res.data)
                        this.logError(res.data);
                    } else {
                        showErrorMD('Có lỗi xảy ra, vui lòng thử lại sau!');
                        this.hideModal();
                        this.reset();
                    }
                }
                this.loading(false);
            }
        }
        editModel.closeReset();
        
        async function showOne(id) {
            try {
                let fetch = await axios.get(`/api/pages/${id}/`).then(res => res);
                if (fetch.status == 200) {
                    editModel.id = fetch.data.id;
                    editModel.showValue(fetch.data)
                    setTimeout(() => {
                        editModel.elements['user_id'].setChoiceByValue(fetch.data.user_id)
                    }, 200)
                }
            } catch (error) {
                let response = error.response;
                if (response?.status == 404) {
                    showErrorMD(response.data.message);
                    editModel.hideModal();
                    editModel.reset();
                } else {
                    showErrorMD('Có lỗi xảy ra, vui lòng thử lại sau!');
                    editModel.hideModal();
                    editModel.reset();
                }
            }
        }
        editModel.submit = async function(e) {
            e.preventDefault();
            let check = this.checkValidate();
            if(check){
                this.loading(true);
                let value = this.value().get();
                value.id = this.id;
                try {
                    let res = await axios.put(`/api/pages/edit/`,value);
                    if (res.status == 200) {
                        editModel.reset();
                        editModel.hideModal();
                        showMessageMD(res.data.message);
                        request.id = res.data.data.id;
                        request.get();
                    } 
                } catch (error) {
                    let res = error.response;
                    if (res.status == 422) {
                        this.logError(res.data);
                    } else {
                        showErrorMD('Có lỗi xảy ra, vui lòng thử lại sau!');
                        editModel.hideModal();
                        editModel.reset();
                    }
                }
                this.loading(false);
            }
        }
    </script>
{% endblock %}